@charset "UTF-8";

/**book sale cont  */

#book_sale_cont_box {
	padding : 20px 5px;
}

#book_sale_cont_box h2, #qna_box h3, #sale_middle_box h3 {
	font-weight: bold;
}

#book_sale_cont_box p {
	font-size : 18px;
	font-weight: bold;
}

#book_sale_cont_box span {
	margin : 0 8px 0 8px;
}


#book_sale_info_box {
	text-align: center;
	background-color: #f9f9f9;
	padding: 20px 0;
	border-top: 1px solid gray;
	margin-top: 10px;
}

#book_sale_info_box table {
	width: 100%;
	height : 300px;
	margin-left : 10px;
}

#book_sale_info_box table th{
	font-weight: normal;
	width: 10%;
}

#book_sale_info_box table td{
	text-align: left;
}

#sale_cont_bimg_td {
	width : 25%;
}

.sale_cont_bimg {
	width : 93%;
	height : 300px;
}

#sale_cont_info_tb {
	width : 100%;
	text-align: left;
}

#sale_cont_info_tb th, #sale_cont_info_tb td{
	padding : 20px 10px;
}

#sale_cont_info_tb td {
	border-bottom: 1px solid gray;
}

#sale_cont_info_tb th{
	width : 25%;
	vertical-align: top;
}

#sale_cont_info_tb p {
	margin-top : 30px;
}

#sale_info_tb {
	width : 100%;
	text-align: left;
}

#sale_info_tb th {
	width : 15%;
}

#sale_info_tb td {
	border-bottom: 0;
}

#book_cont_img {
	width : 50%;
	height : auto;
	margin-top : 20px;
}

#sale_list_btn_box {
	text-align : right;
	margin : 10px 0 20px 0;
	width: 100%;
}

#qna_box {
	margin : 30px 0;
}

#book_sale_cont_btn_box {
	text-align: center;
	padding : 20px 0 10px 0;
}

#sale_qna_btn {
	text-align : right;
	padding-top : 20px;
}

.book_sale_txtarea {
	width : 100%;
	padding : 10px;
	border: none;
	resize : none;
}

.book_sale_txtarea:focus {
	outline: none;
}

.book_sale_option_box {
	text-align: right;
	font-size: 15px;
}

.book_sale_option_box a {
	padding : 0 10px;
}

.book_sale_option_box a:hover {
	color: blue;
}

#book_sale_cont_btn_box button {
	width : 15%;
	height : 60px;
}

@media (max-width: 1000px) {
	#book_sale_cont_box h2 {font-size: 25px;}
	#book_sale_cont_box p {font-size: 15px;}
}