
/* include */
.side_bar ul li {
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid lightgray;
}

.side_bar ul li:hover {
	padding: 10px;
	background: #80bffd;
}

.side_tit {
	width: 100%;
	height: 100px;
	background: #3399ff;
	padding: 20px 10px 0 10px;
	border-bottom: 1px solid lightgray;
}

.side_tit h3 {
	font-size: 22px;
	font-weight: bolder;
	color: white;
}
.side_bar ul li a {
	color: #3399ff;
	text-decoration: none;
	font-size: 18px;
}

.side_bar ul li a:hover {
	text-decoration: none;
	color: white;
}

/* top category */
.main_box table { width: 100%; }

.top_cate {
	border-top: 3px solid #3399ff;
	height: 120px;
}

.top_cate tr {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid lightgray;
}

.top_cate table td {
	padding : 10px 0;
}

.top_cate a { color: gray; }

.top_cate a:hover {
	color: #3399ff;
	text-decoration: none;
}

/* 전체 도서 리스트 main list */
.main_list {
	color: #5e5e5e;
	vertical-align: top;
}

.main_list a { color: #5e5e5e; }

.main_list a:hover {
	color: #3399ff;
	text-decoration: none;
}

.main_list table td {
	padding: 3px;
}

.main_list img { width: 120px; }

.main_list img:hover { opacity: 70%; }

.state {
	width: 70%;
	height: 20px;
	font-weight: bold;
}

.hit {
	width: 20%;
	vertical-align: top;
	color: #a3a3a3;
}


.nickname { vertical-align: top; }

.main_list span {
	font-size: 13px;
	text-decoration: line-through;
	font-style: italic;
}

/* 검색창 */
.search_form { display: inline; }

.search_box {
    text-align: center;
    padding : 30px 0;
    width: 100%;
}

#book_search_info { padding: 30px 0; text-align: center;}
#book_search_info p { font-size: 16px;}
#book_search_info span { font-size: 18px; font-weight: bold;}

@media (max-width: 1000px) {
	.top_cate a { font-size: 13px; letter-spacing: -1px; }
}

@media (max-width: 768px) {
	
	.side_bar { display : inline-block; width : 100%; text-align: center; }	
	.side_bar ul { padding: 20px 0; margin : 0; border-bottom: 1px solid lightgray;}
	.side_bar ul li { padding: 0 0 0 3%; list-style: none; border-bottom : 0; display : inline; }
	.side_bar ul li a { text-decoration: none; font-size : 16px;}
	.side_tit { border-bottom : 2px solid black; background-color : white; padding: 0; height: 45px; }
	.side_tit h3 { font-weight: bold; color : black; font-size: 24px;}
	.main_box { display : inline-block; width : 100%; padding-left : 0; }
	.side_bar ul li:hover {background : white;}
	.side_bar ul li a:hover {color: #3399ff; font-weight: bold;}
	.top_cate_tr { text-align: center; }
	.top_cate a { font-size: 13px; letter-spacing: -1px; }
	.main_list { font-size: 85%; }
	.main_list a { font-size: 15px; }
	.main_list img { width: 100px; }
	.main_list input { width: 100%; height: 25px; }
	
	
	#search_side {display: none;}
}
