@charset "UTF-8";

#all_qna_form_box table{
	width : 100%;
	text-align: left;
}

#all_qna_form_box table td{
	padding : 10px 0;
}

#title, #all_qna_form_box table textarea{
	width : 100%;
}

#all_qna_form_box span {
	padding : 5px;
	font-weight: bold;
	font-size : 16px;
}

#all_qna_form_btn{
	text-align: center;
	padding : 20px 0;
}

#all_qna_form_box table textarea {
	resize: none;
}

@media (max-width: 768px) {
	#all_qna_form_box table input[type=checkbox] {width: 15px; height:15px; display: inline-block;}
	#all_qna_form_box table input[type=password] {width: 30%; display: inline-block;}
}