@charset "UTF-8";

#faq_form table {
	width : 100%;
}

#faq_form table td {
	padding : 10px 0;
}

#faq_form table td input, #faq_form table td textarea {
	width : 90%;
}

#faq_form table td textarea {
	resize: none;
}

#faq_write_btn {
	width : 90%;
	text-align: center;
	padding : 10px 0;
}

@media (max-width: 768px) {
	#faq_form table td input, #faq_form table td textarea, #faq_form select {width: 100%;}
}